/**********************************************
FONT IMPORTS
************************************************/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
@import url(https://media.wnyc.org/static/webfonts/gotham/177846/FA18A00299146D5E2.css);

/***********************************************
GENERAL
************************************************/

body {
  font: 62.5% 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000;
  background: #000 url(https://pledge3.wnyc.org/media/photologue/epledge/images/skyline_1.jpg) no-repeat center top;
  background-size: auto 1200px;
}

.pledge-container {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#masthead {
  font-size: 1.4em;
  background:rgba(0,0,0,0);
  padding: 18px 0 27px 0;
  text-align: center;
}

.header-description {
  line-height: 21px;
}

#main {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
}

a {
  color: #128cf4;
  text-decoration: none;
}

a:hover {
  color: #69b1ee;
  text-decoration: none;
}

.more {
  color: #128cf4;
  font-size: 1em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#addl-person-btn {
  margin: -40px 15px 0 0;
}

.tooltip {
  vertical-align: -2px;
  margin: 0;
}

#header, #monthly, #onetime, .listening, .submit-section {
  padding: 20px 30px 0 30px;
}

#header {
  margin-bottom: 25px;
}

.special-offers-box {
  background-color: #eee;
  border: none;
  margin: 0;
  padding: 18px 54px 23px 30px;
}

.special-offers-box .thumb {
  float: left;
  margin: 4px 18px 20px 5px;
}

.special-offers-box p {
  font-size: 1em;
  margin: 6px 0 0 0;
  text-indent: 0;
  font-weight: 300;
}

.special-offers-box label {
  cursor: pointer;
}

.special-offer-name {
  font-size: 1.2em;
  font-weight: 400;
}


label > input + .special-offer-name:before  {
  cursor: pointer;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.3em;
  color: #ccc;
  width: 1.2em;
  vertical-align: -1px;
}


label > input:hover + .special-offer-name:before {
  content: "\f1db";
  color: #999;
}

label > input:checked + .special-offer-name:before {
  content: "\f058";
  color: #128cf4;
}

label > input:checked:hover + .special-offer-name:before {
    color: #016fcd;
    content: "\f058";
}

#premiums {
  margin: 0 30px;
}

#giveaways {
  border-top: none;
}

#giveaways > li {
  background-color: #eee;
  margin: 0 30px 40px;
  padding: 20px 40px 20px 13px;
  font-size: 1em;
  line-height: 1.6em
}

#premiums {
  padding-top: 11px;
}

#payment-methods {
  padding-top: 20px;
}

#comments {
  padding: 20px 30px 0 30px;
}

.group.mini {
  padding: 40px 30px 0 30px;
  margin: 0;
}

.morequestions h2.label {
  margin-top: 0;
}

#listening-now{
  padding: 5px 30px 20px;
}

#monthly h4 {
  margin: 41px 0 18px
}

#onetime h4 {
  margin: 21px 0 18px
}

h1 {
  font-size: 1.3em;
  font-weight: 400;
}

h2 {
  font-size: 1.1em;
  font-weight: 400;
}

h2.label {
  height: 37px;
  margin-top: 0; /* 30px */
  line-height: 2.6em;
  background-color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-transform: none;
  font-size: 1em;
  font-weight: 400;
}

h2.label .level-step {
  line-height: 2.6em;
  background-color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 20px;
  margin-right: 0;
}

#payment h2.label {
  margin-top: 50px;
}

h3 {
  color: #000;
  font-size: 1.1em;
  font-weight: 400;
}

.level_group {
  width: 42%;
  float: left;
  margin-right: 8%;
}

.level_group h3 span {
  color: #999;
}

.level_group ul {
  margin-bottom: 52px;
}

.level_group ul:last-child {
  margin-bottom: 0px;
}


form .field label {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.card-number input[type="text"] {
  width: 282px;
}

input[type=text] {
  padding: 6px 0 6px 15px;
  border: 1px solid #eee;
  background-color: #eee;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 6px;
  height: 38px;
  width: 380px;
  font-size: 1em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}

input[type=text]:hover {
  border: 1px solid #ccc;
  background-color: #eee; 
}

input[type=text]:focus {
  border: 1px solid #128cf4;
  background-color: #eee; 
}

textarea {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #000;
}

textarea:hover {
  background-color: #eee; 
}

.field.month select,
.field.year select,
.field.state select,
.field.country select {
  border: 1px solid #eee;
  background-color: #fff;
  width: 400px;
  height: 35px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.field.month select,
.field.year select {
  width: 189px;
}

.field.state select,
.field.country select {
  width: 397px;
}

.field.month select:hover,
.field.year select:hover,
.field.state select:hover,
.field.country select:hover {
  border: 1px solid #ccc;
  background-color: #f9f9f9; 
}

.field.month select:focus,
.field.year select:focus,
.field.state select:focus,
.field.country select:focus {
  border: 1px solid #128cf4; 
}

form select {
    margin: 5px 6px;
}

/* Hide all radio buttons/checkboxes 
  but keep them accessible*/
.special-offers-box input[type="checkbox"],
#giveaways li input[type="checkbox"],
#premiums > input[type="radio"],
#featured-gifts input[type="radio"],
#full-gift-list li input[type="radio"],
#amount input[type="radio"],
#payment-options input[type="radio"],
#pay-check input[type="radio"],
#listening-now input[type="radio"],
.group.mini input[type="checkbox"]
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.group {
  margin: 0;
}

.group.mini {
  font-size: 1.1em;
  line-height: 1.4em
}

.group.mini > label {
    font-weight: 300;
}

.group.mini label[for="id_upsell"] {
   line-height: 1.6em;
}

.group.mini label[for="id_upsell"] .tooltip {
   vertical-align: -4px;
}
    
.group.mini input[type="checkbox"] ~ label:before {
  cursor: pointer;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: 10px;
  font-size: 1.4em;
  color: #ccc;
  width: 1.1em;
  vertical-align: -2px;
}

.group.mini input[type="checkbox"]:hover ~ label:before {
  content: "\f096";
  color: #999;
}

.group.mini input[type="checkbox"]:checked ~ label:before {
  content: "\f14a";
  color: #128cf4;
}

.group.mini input[type="checkbox"]:checked:hover ~ label:before {
    color: #016fcd;
    content: "\f14a";
}

#giveaways input[type="checkbox"] ~ label:before,
#premiums > input[type="radio"] ~ label:before,
#full-gift-list input[type="radio"] ~ label:before {
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.4em;
  color: #ccc;
  width: 1em;
  vertical-align: -2px;
}

#full-gift-list input[type="radio"] ~ label:before {
  display: inline-block;
}

#premiums label, #giveaways label {
  cursor: pointer;
}

#premiums > input[type="radio"] ~ label:before {
  display: inline-block;
}
#giveaways input[type="checkbox"]:hover ~ label:before,
#premiums > input[type="radio"]:hover ~ label:before,
#full-gift-list input[type="radio"]:hover ~ label:before {
  content: "\f1db";
  color: #999;
}

#giveaways input[type="checkbox"]:checked ~ label:before,
#premiums > input[type="radio"]:checked ~ label:before,
#full-gift-list input[type="radio"]:checked ~ label:before {
  content: "\f058";
  color: #128cf4;
}

#giveaways input[type="checkbox"]:checked:hover ~ label:before,
#premiums > input[type="radio"]:checked:hover ~ label:before,
#full-gift-list input[type="radio"]:checked:hover ~ label:before {
  color: #016fcd;
}

#premiums > input[type="radio"] ~ label:before {
  width: 1.4em;
}

#full-gift-list li {
  padding-bottom: 9px;
}

#full-gift-list li a {
  display: inline;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
}

#featured-gifts {
  margin: 30px 0 20px;
}

#featured-gifts li .wrapper.radio {
  background-color: #ccc;
  border-right: 2px solid #ccc;
}

#featured-gifts input[type="radio"] ~ label:before {
  cursor: pointer;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f111";
  font-size: 1.4em;
  color: #fff;
  width: 1em;
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

#featured-gifts input[type="radio"]:hover ~ label:before {
  content: "\f058";
  color: #eee;
}

#featured-gifts input[type="radio"]:checked ~ label:before {
  content: "\f058";
  color: #128cf4;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#featured-gifts input[type="radio"]:checked:hover ~ label:before {
  color: #016fcd;
}

#featured-gifts li {
  margin: 7px 12px 7px 0; 
}

#featured-gifts li a {
  font-weight: 400;
}

#featured-gifts li .title {
  height: 69px;
  overflow: hidden;
  font-size: .94em;
  text-align: left;
  margin: 3px 12px 12px;
}

#featured-gifts li .level {
  bottom: 10px;
  font-size: .85em;
  margin-left: 8px;
  text-align: left;
}

#featured-gifts li select:first-child {
  top: 55px;
}
/* form pg 1 */ 

#amount li, #featured-gifts li {
  border: 1px solid #ccc; /* 2px solid #e9e9e9; */
  background-color: transparent;
  padding-left: 0;
  font-size: 1em;
}

#amount li {
  margin: 7px 7px 7px 0; 
}

#amount li:hover, 
#amount li label:hover {
  background-color: #f9f9f9;
  border-color: #ccc;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;  
}

#amount li:last-child:hover, #amount li:last-child input[type="radio"]:hover+label {
  background-color: transparent;
}

#amount li label {
  background-color: transparent;
  padding: 10px 13px;
  border-left: 0; 
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#amount input[type="radio"]:checked+label {
  color: #fff;
  background-color: #128cf4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#amount li:last-child input[type="radio"]:checked+label {
  background-color: #128cf4; 
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  color: #fff; 
}

li.other input.numeric {
  background-color: #fff;
  width: 115px;
  padding: 6px 4px 7px 10px;
  font-family:'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

li.other span {
  bottom: -25px;
  color: #000;
}

#payment-options label.field-label,
#contact-info label {
  width: 150px;
  vertical-align: middle;
}

.payment-options {
  margin-top: 27px;
}

#payment-options .payment-option {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-left: 5px;
}

#payment-options .payment-option:hover {
  background-color: #f9f9f9;
}

#payment-options .payment-option img.payment-method-paypal-image {
    margin-left: 0;
    margin-bottom: -6px;
}

#payment-options .payment-option img.payment-method-cc-image {
  display: none;
}

#payment-options .payment-option input[type="radio"] ~ span::before {
  color: #ccc;
  content: "";
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4em;
  letter-spacing: 10px;
  width: 1.4em;
  height: 13px;
  line-height: 10px;
  vertical-align: middle;
}

#payment-options .payment-option input[type="radio"]:hover ~ span:before  {
  content: "\f058";
  color: #ccc;
}

#payment-options .payment-option input[type="radio"]:checked ~ span::before {
    color: #128cf4;
    content: "";
}

#payment-options .payment-option input[type="radio"]:checked:hover ~ span::before {
    color: #016fcd;
    content: "";
}

#pay-cc .field label { /* cc input labels */
  vertical-align: middle;
}

#pay-cc h4, #pay-check {
  margin: 22px 0 25px 159px;
}

#pay-cc .card-number {
    height: auto; /*height of top sprite section*/
    margin-left: -25px;
    background: url("https://pledge3.wnyc.org/media/img/pledge/pledge-sprite.png?v2") no-repeat scroll 262px 0 transparent;
}

#pay-check input[type="radio"] ~ span:before {
  cursor: pointer;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.4em;
  color: #ccc;
  width: 1.1em;
  vertical-align: -2px;
}

#pay-check input[type="radio"]:hover ~ span:before {
  content: "\f1db";
  color: #999;
}

#pay-check input[type="radio"]:checked ~ span:before {
  content: "\f058";
  color: #128cf4;
}

#pay-check input[type="radio"]:checked:hover ~ span::before {
    color: #016fcd;
    content: "";
}

#pay-check .pay-check-text {
  color: #000;
  font-family:'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#pay-check h4 .more::after {
    content: " ";
}

.cc-expiration .field {
    margin-left: -25px;
    margin-right: 25px;
}


h4.listening {
  font-size: 1.1em;
  font-weight: 300;
}

#listening-now li {
  padding-right: 7px;
}

#listening-now label {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 10px 13px; 
  margin: 0;  
  position: relative;
  font-size: 1em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#listening-now input[type="radio"]:hover+label {
  background-color: #f9f9f9;
}

#listening-now input[type="radio"]:checked+label {
  background-color: #128cf4;
  border-color: #128cf4;
  color: #fff;
}

textarea#id_comments {
  padding: 15px 8px 8px 15px;
  font-size: 1.1em;
  color: #000;
}

.submit-section {
  text-align: center;
}

input.submit {
  background-color: #128cf4;
  background-image: none;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  border-color: #128cf4;
  padding: 14px 21px;
  margin: 25px 0 10px;
}

input.submit:hover {
  background-color: #016fcd;
  border: 1px solid #016fcd;
}

#braintree-paypal-button {
  margin: 0 auto;
}

#braintree-paypal-button:hover {
  opacity: .6;
}

.privacy {
    margin: 0 auto;
    max-width: 50%;
    padding-bottom: 30px;
}

.errorlist, .required {
  vertical-align: middle;
}

/***********************************************
ANIMATIONS/TRANSITIONS
************************************************/

a, input.submit,
label > input + .special-offer-name:before,
#amount li, 
#amount li label,
#giveaways input[type="checkbox"] ~ label:before,
#premiums > input[type="radio"] ~ label:before,
#featured-gifts input[type="radio"] ~ label:before,
#full-gift-list input[type="radio"] ~ label:before,
#payment-options .payment-option,
#pay-check input[type="radio"] ~ span:before,
#listening-now input[type="radio"]:checked+label,
.group.mini input[type="checkbox"] ~ label:before,
#braintree-paypal-button  {
  -webkit-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -ms-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}